@import "./../../../../../web/assets/bower/foundation-sites/scss/normalize";
@import "./../../../../../web/assets/bower/foundation-sites/scss/foundation";

$font-family-roboto: 'Roboto', $font-family-sans-serif;
$lighten-color: lighten($body-font-color, 50%);

$twitter-color: #00aced;
$facebook-color: #3b5998;
$googleplus-color: #dd4b39;
$pinterest-color: #cb2027;
$linkedin-color: #007bb6;
$youtube-color: #bb0000;
$vimeo-color: #1ab7ea;
$tumblr-color: #32506d;
$instagram-color: #bc2a8d;
$flickr-color: #ff0084;
$dribbble-color: #ea4c89;
$quora-color: #a82400;
$foursquare-color: #0072b1;
$forrst-color: #5B9A68;
$vk-color: #45668e;
$wordpress-color: #21759b;
$stumbleupon-color: #EB4823;
$yahoo-color: #7B0099;
$blogger-color: #fb8f3d;
$soundcloud-color: #ff3a00;

.backend-list {
  table {
    width: 100%;
  }
  .sort-prop {
    .fa {
      font-weight: normal;
      font-size: $base-font-size * .825;
      color: $lighten-color;
    }
  }
  .second-title {
    font-size: $base-font-size * .85;
    color: $lighten-color
  }
  .sort-separator {
    color: $lighten-color;
    font-weight: normal;
  }
  td.do {
    width: 16px;
    white-space: nowrap;
  }
  .list-body {
    .item {
      font-size: $base-font-size * .85;
      margin-bottom: rem-calc(20);
      .title {
        font-size: $base-font-size * .9;
        font-family: $font-family-roboto;
        > strong {
          font-weight: normal;
          line-height: $base-line-height * .9;
        }
        > small {
          font-size: $base-font-size;
          color: $lighten-color;
          > a {
            color: $lighten-color;
            text-decoration: none;
            border-bottom: 1px solid lighten($lighten-color, 20%);
            &:hover {
              color: $primary-color;
              text-decoration: none;
              border-bottom-color: lighten($primary-color, 20%);
            }
          }
        }
      }
      .props {
        font-size: $base-font-size * .8;
        .prop {
          display: block;
          color: $lighten-color;
          > a {
            color: $lighten-color;
            text-decoration: none;
            border-bottom: 1px solid lighten($lighten-color, 20%);
            &:hover {
              color: $primary-color;
              text-decoration: none;
              border-bottom-color: lighten($primary-color, 20%);
            }
          }
        }
      }
      .actions {
        margin-top: rem-calc(5);
        font-size: $base-font-size * .9;
        .button {
          padding: rem-calc(4) rem-calc(8);
        }
      }
    }
  }
}

form {
  .social {
    a {
      &.vk {
        color: $vk-color;
      }
      i {
        font-size: $base-font-size * 1.75;
      }
    }
  }
}

.backend-modal {
  > h2:first-child {
    margin-top: rem-calc(-10);
    font-size: $base-font-size;
    font-family: $font-family-roboto;
    .secondary {
      display: block;
      font-size: $base-font-size * .8;
      font-weight: normal;
      color: $lighten-color;
    }
  }
  .modal-content {
    margin-top: rem-calc(20);
    margin-left: $column-gutter / 2 * -1;
    margin-right: $column-gutter / 2 * -1;
  }
}
