<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <style>
            @import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic,cyrillic-ext');
        </style>
        {% stylesheets filter="scss,cssrewrite"
            '@font_awesome'
            'bundles/flobfoundation/css/foundationtosymfony.css'
            '@BackendBundle/Resources/public/scss/backend.scss' %}
            <link  rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
        {% javascripts
        'assets/bower/modernizr/modernizr.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<header>
    <div class="row">
        <div class="small-12 columns">
            <nav class="top-bar" data-topbar role="navigation">
                <section class="top-bar-section">
                    <div class="row">
                        <div class="small-12 columns">
                            <ul class="right">
                                <li class="has-dropdown not-click">
                                    <a href="javascript: void(0);"><i class="fa fa-user-circle-o"></i> {{ app.user.username }}</a>
                                    <ul class="dropdown">
                                        <li>
                                            <a href="{{ url('logout') }}">{{ 'Logout'|trans }}</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="left">
                                <li {{ app.request.get('_route') in ['movies', 'movie'] ? 'class="active"' }}>
                                    <a href="{{ url('movies') }}">{{ 'Movies'|trans }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </nav>
        </div>
    </div>
</header>
<div class="row">
    <div class="medium-2 column">
        <ul class="vertical-menu" data-accordion-menu>
            <li><a href="{{ path('backend_torrents') }}">{% trans %}Torrents{% endtrans %}</a></li>
            <li><a href="{{ path('backend_movies') }}">{% trans %}Movies{% endtrans %}</a></li>
            <li><a href="{{ path('backend_persons_index') }}">{% trans %}Persons{% endtrans %}</a></li>
            <li><a href="{{ path('backend_genres_index') }}">{% trans %}Genres{% endtrans %}</a></li>
            <li><a href="{{ path('backend_countries_index') }}">{% trans %}Countries{% endtrans %}</a></li>
        </ul>
    </div>
    <div class="medium-10 column">
        {% block body %}{% endblock %}
    </div>
</div>
{% block endbody %}{% endblock %}
{% block javascripts %}
    {% javascripts
        'assets/bower/jquery/dist/jquery.js'
        'assets/bower/foundation-sites/js/foundation/foundation.js'
        'assets/bower/foundation-sites/js/foundation/foundation.tab.js'
        'assets/bower/foundation-sites/js/foundation/foundation.reveal.js'
        'bundles/flobfoundation/js/foundationtosymfony.js'
        '@BackendBundle/Resources/public/js/backend.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
