<div class="movie-info">
    {% if movie.kinopoiskRating or movie.imdbRating %}
        <div class="ratings">
            {% if movie.kinopoiskRating %}
                {{ 'KinoPoisk'|trans }}: <span class="label kp">{{ movie.kinopoiskRating|number_format(1) }}</span>
            {% endif %}
            {% if movie.imdbRating %}
                {{ 'IMDb'|trans }}: <span class="label imdb">{{ movie.imdbRating|number_format(1) }}</span>
            {% endif %}
        </div>
    {% endif %}
    {% if movie.tagline %}
        <p class="tagline">&laquo;{{ movie.tagline }}&raquo;</p>
    {% endif %}
    <div class="row attr">
        <div class="small-2 columns">
            <span>{{ 'Year'|trans }}</span>
        </div>
        <div class="small-10 columns">
            <a href="{{ url('movies', {'year': movie.year}) }}">{{ movie.year }}</a>
        </div>
    </div>
    {% if movie.countries|length %}
        <div class="row attr">
            <div class="small-2 columns">
                <span>{% transchoice movie.countries|length %}{1} Country|]1,Inf] Countries{% endtranschoice %}</span>
            </div>
            <div class="small-10 columns">
                {% for country in movie.countries %}
                    <a href="{{ url('movies', {'country': country.id}) }}">{{ country.translations.ru.title }}</a>{% if loop.last is same as(false) %}, {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if movie.genres|length %}
        <div class="row attr">
            <div class="small-2 columns">
                <span>{% transchoice movie.genres|length %}{1} Genre|]1,Inf] Genres{% endtranschoice %}</span>
            </div>
            <div class="small-10 columns">
                {% for genre in movie.genres %}
                    <a href="{{ url('movies', {'genre': genre.id}) }}">{{ genre.translations.ru.title }}</a>{% if loop.last is same as(false) %}, {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if movie.directors|length %}
        <div class="row attr">
            <div class="small-2 columns">
                <span>{% transchoice movie.directors|length %}{1} Director|]1,Inf] Directors{% endtranschoice %}</span>
            </div>
            <div class="small-10 columns">
                {% for director in movie.directors %}
                    {% if 'ru' in director.translations|keys %}
                        <a href="{{ url('person', {'id': director.id}) }}">{{ director.translations.ru.firstname }} {{ director.translations.ru.lastname }}</a>{% if loop.last is same as(false) %}, {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if movie.screenwriters|length %}
        <div class="row attr">
            <div class="small-2 columns">
                <span>{% transchoice movie.screenwriters|length %}{1} Screenwriter|]1,Inf] Screenwriters{% endtranschoice %}</span>
            </div>
            <div class="small-10 columns">
                {% for screenwriter in movie.screenwriters %}
                    {% if 'ru' in screenwriter.translations|keys %}
                        <a href="{{ url('person', {'id': screenwriter.id}) }}">{{ screenwriter.translations.ru.firstname }} {{ screenwriter.translations.ru.lastname }}</a>{% if loop.last is same as(false) %}, {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if movie.producers|length %}
        <div class="row attr">
            <div class="small-2 columns">
                <span>{% transchoice movie.producers|length %}{1} Producer|]1,Inf] Producers{% endtranschoice %}</span>
            </div>
            <div class="small-10 columns">
                {% for producer in movie.producers %}
                    {% if 'ru' in producer.translations|keys %}
                        <a href="{{ url('person', {'id': producer.id}) }}">{{ producer.translations.ru.firstname }} {{ producer.translations.ru.lastname }}</a>{% if loop.last is same as(false) %}, {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if movie.composers|length %}
        <div class="row attr">
            <div class="small-2 columns">
                <span>{% transchoice movie.composers|length %}{1} Composer|]1,Inf] Composers{% endtranschoice %}</span>
            </div>
            <div class="small-10 columns">
                {% for composer in movie.composers %}
                    {% if 'ru' in composer.translations|keys %}
                        <a href="{{ url('person', {'id': composer.id}) }}">{{ composer.translations.ru.firstname }} {{ composer.translations.ru.lastname }}</a>{% if loop.last is same as(false) %}, {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if movie.painters|length %}
        <div class="row attr">
            <div class="small-2 columns">
                <span>{% transchoice movie.painters|length %}{1} Painter|]1,Inf] Painters{% endtranschoice %}</span>
            </div>
            <div class="small-10 columns">
                {% for painter in movie.painters %}
                    {% if 'ru' in painter.translations|keys %}
                        <a href="{{ url('person', {'id': painter.id}) }}">{{ painter.translations.ru.firstname }} {{ painter.translations.ru.lastname }}</a>{% if loop.last is same as(false) %}, {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if movie.editors|length %}
        <div class="row attr">
            <div class="small-2 columns">
                <span>{% transchoice movie.editors|length %}{1} Editor|]1,Inf] Editors{% endtranschoice %}</span>
            </div>
            <div class="small-10 columns">
                {% for editor in movie.editors %}
                    {% if 'ru' in editor.translations|keys %}
                        <a href="{{ url('person', {'id': editor.id}) }}">{{ editor.translations.ru.firstname }} {{ editor.translations.ru.lastname }}</a>{% if loop.last is same as(false) %}, {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if movie.kinopoiskDescription %}
        <div class="description">
            {{ movie.kinopoiskDescription }}
        </div>
    {% endif %}
</div>