<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block header_stylesheets %}
        <style>
            @import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic,cyrillic-ext');
        </style>
        {% stylesheets filter="scss,cssrewrite"
            '@font_awesome'
            'bundles/flobfoundation/css/foundationtosymfony.css'
            '@FrontendBundle/Resources/public/scss/frontend.scss' %}
            <link  rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
    {% endblock %}
    {% block header_javascripts %}
        {% javascripts
            'assets/bower/modernizr/modernizr.js'
            '//yastatic.net/es5-shims/0.0.2/es5-shims.min.js'
            '//yastatic.net/share2/share.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<header>
    <div class="row">
        <div class="small-12 columns">
            <nav class="top-bar" data-topbar role="navigation">
                {#<div class="row">#}
                {#<div class="small-12 columns">#}
                {#<ul class="title-area">#}
                {#<li class="name">#}
                {#{% spaceless %}#}
                {#<a href="#">#}
                {#{{ 'KinoFit'|trans }}#}
                {#</a>#}
                {#{% endspaceless %}#}
                {#</li>#}
                {#<li class="toggle-topbar menu-icon"><a href="javascript: void(0);"><span>{{ 'Menu'|trans }}</span></a></li>#}
                {#</ul>#}
                <section class="top-bar-section">
                    <div class="row">
                        <div class="small-12 columns">
                            <ul class="right">
                                {% if app.user %}
                                    <li class="has-dropdown not-click">
                                        <a href="javascript: void(0);"><i class="fa fa-user-circle-o"></i> {{ app.user.username }}</a>
                                        <ul class="dropdown">
                                            <li>
                                                <a href="">{{ 'Personal area'|trans }}</a>
                                            </li>
                                            <li>
                                                <a href="">{{ 'View history'|trans }}</a>
                                            </li>
                                            <li>
                                                <a href="">{{ 'Favorites'|trans }}</a>
                                            </li>
                                            <li>
                                                <a href="{{ url('logout') }}">{{ 'Logout'|trans }}</a>
                                            </li>
                                        </ul>
                                    </li>
                                {% else %}
                                    <div class="login">
                                        <span class="desc">{{ 'Log in with'|trans }}:</span>
                                        <a class="vk-provider" href="{{ url('connect_vkontakte') }}" title="{{ 'VKontakte'|trans }}"><i class="fa fa-vk"></i></a>
                                        <a class="facebook-provider" href="/connect/facebook" title="{{ 'Facebook'|trans }}"><i class="fa fa-facebook"></i></a>
                                    </div>
                                {% endif %}
                            </ul>
                            <ul class="right">
                                <li class="has-form">
                                    <div class="search">
                                        <div class="row collapse">
                                            <div class="small-12 columns">
                                                {% spaceless %}
                                                    <input type="text" placeholder="{{ 'Search'|trans }}">
                                                    <span class="postfix"><i class="fa fa-search"></i></span>
                                                {% endspaceless %}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="left">
                                <li {{ app.request.get('_route') in ['movies', 'movie'] ? 'class="active"' }}>
                                    <a href="{{ url('movies') }}">{{ 'Movies'|trans }}</a>
                                </li>
                                <li {{ app.request.get('_route') == 'tvseries' ? 'class="active"' }}>
                                    <a href="{{ url('tvseries') }}">{{ 'TV Series'|trans }}</a>
                                </li>
                                <li>
                                    <a href="">{{ 'Cartoons'|trans }}</a>
                                </li>
                                <li>
                                    <a href="">{{ 'Order table'|trans }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </nav>
        </div>
    </div>
</header>

<section id="body">
    {% block breadcrumbs %}{% endblock %}

    {% block h1 %}{% endblock %}

    {% block filter %}{% endblock %}

    <div class="row">
        <div class="small-12 column">
            {% block body %}{% endblock %}
        </div>
    </div>
</section>

<footer>
    <div class="row">
        <div class="small-6 columns">
            <div class="social">
                <span class="provider-label">{{ 'Join now'|trans }}:</span>
                <a class="vk-provider" href="https://vk.com/kinofit"><i class="fa fa-vk"></i></a>
            </div>
        </div>
        <div class="small-6 columns">
            <div class="copywrite text-right">
                &copy; {{ 'now'|date('Y') }}
            </div>
        </div>
    </div>
</footer>

{% block footer_javascripts %}
    {% javascripts
        'assets/bower/jquery/dist/jquery.js'
        'assets/bower/foundation-sites/js/foundation/foundation.js'
        'assets/bower/foundation-sites/js/foundation/foundation.tab.js'
        'assets/bower/foundation-sites/js/foundation/foundation.topbar.js'
        'bundles/flobfoundation/js/foundationtosymfony.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).on('ready page:load', function() {
            $(document).foundation();
        });
    </script>
{% endblock %}
</body>
</html>