{% extends "@App/base.html.twig" %}

{% block title %}Backend dashboard{% endblock %}

{% block body %}
    <div class="backend-list">
        <div class="list-head">
            <p class="count">
                {% transchoice pagination.totalItemCount %}
                    {0} Records are not found.|]1,Inf[Records found: %count%.
                {% endtranschoice %}
            </p>
            {{ knp_pagination_render(pagination) }}
        </div>
        <div class="list-body">
            <table>
                <thead>
                    <th {{ pagination.isSorted('movie.id') ? 'class="sorted"' }} style="width: 16px; white-space: nowrap;">
                        <span class="sort-prop">
                            {{ knp_pagination_sortable(pagination, 'Id'|trans, 'movie.id') }}
                            {{ (pagination.isSorted('movie.id') ? '<i class="fa fa-sort-'~app.request.get('direction')~'"></i>' : '<i class="fa fa-sort"></i>')|raw }}
                        </span>
                    </th>
                    <th {{ pagination.isSorted('movie.titleOrigin') ? 'class="sorted"' }}>
                        <span class="sort-prop">
                            {{ knp_pagination_sortable(pagination, 'Title'|trans, 'translation.title') }}
                            {{ (pagination.isSorted('translation.title') ? '<i class="fa fa-sort-'~app.request.get('direction')~'"></i>' : '<i class="fa fa-sort"></i>')|raw }}
                        </span>
                        <span class="sort-separator">/</span>
                        <span class="sort-prop">
                            {{ knp_pagination_sortable(pagination, 'Title Original'|trans, 'movie.titleOrigin') }}
                            {{ (pagination.isSorted('movie.titleOrigin') ? '<i class="fa fa-sort-'~app.request.get('direction')~'"></i>' : '<i class="fa fa-sort"></i>')|raw }}
                        </span>
                    </th>
                    <th></th>
                </thead>
                <tbody>
                    {% for movie in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td style="text-align: right; width: 16px; white-space: nowrap;">{{ movie.id }}</td>
                            <td>
                                <div class="row">
                                    <div class="small-2 columns">
                                        <img src="{{ (movie.poster ? movie.poster.path ~ '/' ~ movie.poster.basename : 'placeholder.jpg')|imagine_filter('movie_poster_thumb') }}">
                                    </div>
                                    <div class="small-10 columns">
                                        {{ movie.translations.ru.title }}
                                        {% if movie.titleOrigin %}<br><small class="second-title">{{ movie.titleOrigin }}</small>{% endif %}
                                    </div>
                                </div>
                            </td>
                            <td class="do">
                                <a href="{{ url("frontend_movie_view", { "slug": movie.translations.ru.slug }) }}">{{ 'View'|trans }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="list-footer">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
