{% extends "FrontendBundle::base.html.twig" %}

{% set genre = app.request.get('genre') ? get_genre(app.request.get('genre')) : null %}
{% set genres = get_genres() %}
{% set genres_per_column = (genres|length / 4)|round %}
{% set years = ["2016", "2015", "2014", "2013", "2010—2015", "2000—2010", "1990—2000", "1980—1990", "1980"] %}
{% set year = app.request.get('year') %}
{% set country = app.request.get('country') ? get_country(app.request.get('country')) : null %}
{% set sorts = { "popularity": "By popularity", "date": "By date", "kinopoiskRating": "By KinoPoisk rating", "imdbRating": "By IMDb rating" } %}
{% set sort = app.request.get('popularity') ? 'popularity' : app.request.get('kinopoiskRating') ? 'kinopoiskRating' : app.request.get('imdbRating') ? 'imdbRating' : null %}

{% block breadcrumbs %}
    <div class="row">
        <div class="small-12 columns">
            <ul class="breadcrumbs">
                <li><a href="{{ url('homepage') }}">{{ 'Homepage'|trans }}</a></li>
                <li {{ app.request.query.all|extract(['genre', 'year', 'country']) is empty ? 'class="current"' }}><a href="{{ url('movies') }}">{{ 'Movies'|trans }}</a></li>
                {% if genre %}
                    <li {{ country ? '' : 'class="current"' }}><a href="{{ url('movies', {'genre': genre.id}) }}">{{ genre.translations.ru.title|capitalize }}</a></li>
                {% endif %}
                {% if year %}
                    <li {{ country ? '' : 'class="current"' }}><a href="{{ url('movies', app.request.query.all|extract(['genre'])|merge({'year': year})) }}">{{ year }}</a></li>
                {% endif %}
                {% if country %}
                    <li class="current"><a href="{{ url('movies', app.request.query.all|extract(['genre', 'year'])|merge({'country': country.id})) }}">{{ country.translations.ru.title }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block h1 %}
    <div class="row">
        <div class="small-12 columns">
            <h1>{{ 'View movies online'|trans }}</h1>
        </div>
    </div>
{% endblock %}

{% block filter %}
    <div class="content-filter">
        <div class="row">
            <div class="small-12 column">
                <nav class="top-bar" data-topbar role="navigation">
                    <section class="top-bar-section">
                        <ul class="right">
                            <li class="has-dropdown not-click">
                                {% spaceless %}
                                    <a href="javascript: void(0);">
                                        {% if genre %}
                                            {{ genre.translations.ru.title|capitalize }}
                                        {% else %}
                                            {{ 'All genres'|trans }}
                                        {% endif %}
                                    </a>
                                    <div class="dropdown cols genres">
                                        <ul>
                                            {% for genre in get_genres() %}
                                            <li {{ app.request.get('genre') == genre.id ? 'class="active"' }}>
                                                <a href="{{ url("movies", { "genre": genre.id, "year": app.request.get("year"), "country": app.request.get("country"), "sort": app.request.get("sort") }) }}">
                                                    {{ genre.translations.ru.title|capitalize }}
                                                </a>
                                            </li>
                                            {% if loop.index is divisible by(genres_per_column) and loop.last is same as(false) %}</ul><ul>{% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endspaceless %}
                            </li>
                            <li class="has-dropdown not-click">
                                {% spaceless %}
                                    <a href="javascript: void(0);">
                                        {% if year %}
                                            {{ app.request.get('year')|trans }}
                                        {% else %}
                                            {{ 'All years'|trans }}
                                        {% endif %}
                                    </a>
                                {% endspaceless %}
                                <div class="dropdown cols years">
                                    <ul>
                                        {% for year in years %}
                                            <li><a href="{{ url("movies", { "genre": app.request.get("genre"), "year": year, "country": app.request.get("country"), "sort": app.request.get("sort") }) }}">{{ loop.last ? ("Before " ~ year)|trans : year|trans }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                            <li class="has-dropdown not-click">
                                {% spaceless %}
                                    <a href="javascript: void(0);">
                                        {% if country %}
                                            {{ country.translations.ru.title|capitalize }}
                                        {% else %}
                                            {{ 'Countries'|trans }}
                                        {% endif %}
                                    </a>
                                {% endspaceless %}
                                <div class="dropdown cols countries">
                                    <ul>
                                        {% set countries = get_countries() %}
                                        {% set countries_per_column = (countries|length / 4)|round %}
                                        {% for country in countries %}
                                        <li><a href="{{ url("movies", { "genre": app.request.get("genre"), "year": app.request.get("year"), "country": country.id, "sort": app.request.get("sort") }) }}" title="{{ country.translations.ru.title }}">{{ country.translations.ru.title }}</a></li>
                                        {% if loop.index is divisible by(countries_per_column) and loop.last is same as(false) %}</ul><ul>{% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                            <li class="has-dropdown not-click">
                                {% spaceless %}
                                    <a href="javascript: void(0);">
                                        {% if sort %}
                                            {{ sorts[sort]|trans }}
                                        {% else %}
                                            {{ 'Sort'|trans }}
                                        {% endif %}
                                    </a>
                                {% endspaceless %}
                                <div class="dropdown cols sort">
                                    <ul>
                                        {% for key, message in sorts %}
                                            <li><a href="{{ url("movies", { "genre": app.request.get("genre"), "year": app.request.get("year"), "country": app.request.get("country"), ("" ~ key): 1 }) }}">{{ message|trans }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </section>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="movies-list">
        <div class="row">
            {% for movie in pagination %}
                <div class="medium-2 column">
                    <div class="movie">
                        <a class="thumb" href="{{ url('movie', {'slug': movie.translations.ru.slug}) }}">
                            <img src="{{ (movie.poster ? movie.poster.path ~ '/' ~ movie.poster.basename : 'placeholder.jpg')|imagine_filter('movie_poster_thumb') }}">
                            <span class="labels left">
                                <span class="left label year">{{ movie.year }}</span>
                            </span>
                            <span class="labels">
                                {% if movie.imdbRating %}<span class="label imdb">{{ movie.imdbRating|number_format(1) }}</span>{% endif %}
                                {% if movie.kinopoiskRating %}<span class="label kp">{{ movie.kinopoiskRating|number_format(1) }}</span>{% endif %}
                            </span>
                            <strong>{{ movie.translations.ru.title }}</strong>
                        </a>
                        <div class="meta">
                            {% if movie.titleOrigin %}<small class="title-origin">{{ movie.titleOrigin }}</small>{% endif %}
                        </div>
                    </div>
                </div>
                {% if loop.index is divisible by (6 ) %}</div><div class="row">{% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="small-12 column">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}