{% extends "BackendBundle::base.html.twig" %}

{% block body %}
    <div class="backend-list">
        <div class="list-head">
            <p class="count">
                {% transchoice pagination.totalItemCount %}
                    {0} Records are not found.|]1,Inf[Records found: %count%.
                {% endtranschoice %}
            </p>
            {{ knp_pagination_render(pagination) }}
        </div>
        <div class="list-body">
            <div class="row">
                {% for movie in pagination %}
                    <div class="small-12 medium-6 large-4 columns item">
                        <div class="row">
                            <div class="small-3 medium-4 large-4 columns">
                                <img src="{{ (movie.poster ? movie.poster.path ~ '/' ~ movie.poster.basename : 'placeholder.jpg')|imagine_filter('movie_poster_thumb') }}">
                            </div>
                            <div class="small-9 medium-8 large-8 columns">
                                <div class="title">
                                    {% if movie.translations.ru.title %}<strong>{{ movie.translations.ru.title }}</strong>{% endif %}
                                    {% if movie.titleOrigin %}<small>/ {{ movie.titleOrigin }}</small>{% endif %}
                                    {% if movie.year %}
                                        <small>/ <a href="">{{ movie.year }}</a></small>
                                    {% endif %}
                                </div>
                                <div class="props">
                                    {% if movie.genres %}
                                        <span class="prop">
                                            <span class="lbl">{% transchoice movie.genres|length %}{1} Genre|]1,Inf] Genres{% endtranschoice %}:</span>
                                            {% for genre in movie.genres %}
                                                <a href="">{{ genre.translations.ru.title }}</a>{% if loop.last is same as(false) %}, {% endif %}
                                            {% endfor %}
                                        </span>
                                    {% endif %}
                                    {% if movie.countries %}
                                        <span class="prop">
                                            <span class="lbl">{% transchoice movie.countries|length %}{1} Country|]1,Inf] Countries{% endtranschoice %}:</span>
                                            {% for country in movie.countries %}
                                                <a href="">{{ country.translations.ru.title }}</a>{% if loop.last is same as(false) %}, {% endif %}
                                            {% endfor %}
                                        </span>
                                    {% endif %}
                                    <span class="prop">
                                        <span class="lbl">{{ 'Video files'|trans }}:</span>
                                    </span>
                                </div>
                                <div class="actions">
                                    <a class="button radius secondary tiny" href="#" data-reveal-id="add_video_to_movie_{{ movie.id }}_modal">{{ 'View'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if loop.index is divisible by(3) %}
                        <div class="clearfix show-for-large-up"></div>
                    {% endif %}
                    {% if loop.index is divisible by(2) %}
                        <div class="clearfix show-for-medium-only"></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="list-footer">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}

{% block endbody %}
    {% for movie in pagination %}
        <div id="add_video_to_movie_{{ movie.id }}_modal" class="reveal-modal backend-modal movie-modal" data-reveal aria-labelledby="add_video_to_movie_{{ movie.id }}_title" aria-hidden="true" role="dialog">
            <h2 id="add_video_to_movie_{{ movie.id }}_title">
                {% if movie.translations.ru.title %}{{ movie.translations.ru.title }}{% endif %}
                {% if movie.titleOrigin or movie.year %}
                <span class="secondary">
                    {% if movie.titleOrigin %}{{ movie.titleOrigin }}{% endif %}
                    {% if movie.titleOrigin and movie.year %}/{% endif %}
                    {% if movie.year %}{{ movie.year }}{% endif %}
                </span>
                {% endif %}
            </h2>
            <div class="modal-content">
                <div class="row">
                    <div class="small-2 columns">
                        <img src="{{ (movie.poster ? movie.poster.path ~ '/' ~ movie.poster.basename : 'placeholder.jpg')|imagine_filter('movie_poster_thumb') }}">
                    </div>
                    <div class="small-10 columns">
                        <ul class="tabs" data-tab>
                            <li class="tab-title active">
                                <a href="#movie_{{ movie.id }}_main">Общее</a>
                            </li>
                            <li class="tab-title">
                                <a href="#movie_{{ movie.id }}_convertation">Конвертация</a>
                            </li>
                        </ul>
                        <div class="tabs-content">
                            <div class="content active" id="movie_{{ movie.id }}_main">
                                <p>Example.</p>
                            </div>
                            <div class="content" id="movie_{{ movie.id }}_convertation">
                                <div class="actions">
                                    <a href="#" class="button radius tiny">Найти торренты</a>
                                </div>
                                <div class="torrents">
                                    {% if movie.transmissionQueues|length == 0 %}
                                        {{ 'Torrents are not found.'|trans }}
                                    {% endif %}
                                    {% for queue in movie.transmissionQueues %}
                                        {{ queue.id }}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
    {% endfor %}
{% endblock %}