@import "./../../../../../web/assets/bower/foundation-sites/scss/normalize";
@import "./../../../../../web/assets/bower/foundation-sites/scss/foundation";

$font-family-roboto: 'Roboto', $font-family-sans-serif;
$lighten-color: lighten($body-font-color, 50%);
$slave-color: $alert-color;

$twitter-color: #00aced;
$facebook-color: #3b5998;
$googleplus-color: #dd4b39;
$pinterest-color: #cb2027;
$linkedin-color: #007bb6;
$youtube-color: #bb0000;
$vimeo-color: #1ab7ea;
$tumblr-color: #32506d;
$instagram-color: #bc2a8d;
$flickr-color: #ff0084;
$dribbble-color: #ea4c89;
$quora-color: #a82400;
$foursquare-color: #0072b1;
$forrst-color: #5B9A68;
$vk-color: #45668e;
$wordpress-color: #21759b;
$stumbleupon-color: #EB4823;
$yahoo-color: #7B0099;
$blogger-color: #fb8f3d;
$soundcloud-color: #ff3a00;

$kinopoisk-color: #DFBD00;
$imdb-color: #000;

* a {
  outline: none;
}

header {
  margin-bottom: rem-calc(10);
  background: #333333;
  .top-bar-section ul li > a {
    font-family: $font-family-roboto;
  }
  .login {
    margin-top: rem-calc(9);
    > a {
      display: inline-block;
      background: $white;
      width: rem-calc(24);
      text-align: center;
      @include radius();
      &.vk-provider {
        color: $vk-color;
        &:hover {
          color: lighten($vk-color, 10%);
        }
        > i {
          margin-left: -1px;
        }
      }
      &.facebook-provider {
        color: $facebook-color;
        &:hover {
          color: lighten($facebook-color, 10%);
        }
      }
    }
    .desc {
      font-size: $base-font-size * .8;
      font-family: $font-family-roboto;
      color: $white;
    }
  }
  .search {
    input {
      @include radius();
    }
    .postfix {
      float: right;
      margin-top: rem-calc(-23);
      background: transparent;
      border: 0;
      width: rem-calc(24);
      height: rem-calc(24);
      > i.fa {
        color: $lighten-color;
      }
    }
  }
}

section#body {
  min-height: rem-calc(500);
}

.breadcrumbs {
  margin: 0 0 rem-calc(10) 0;
  padding: 0;
  border: 0;
  background: transparent;
  > * {
    color: $lighten-color;
    a {
      color: $lighten-color;
      text-transform: none;
      text-decoration: underline;
      &.current {
        color: $lighten-color;
        text-decoration: none;
      }
    }
    &.current a {
      color: $lighten-color;
      text-decoration: none;
    }
  }
}

h1 {
  font-family: $font-family-roboto;
}

.h1-meta {
  margin-top: rem-calc(-15);
  margin-bottom: rem-calc(10);
  padding-bottom: rem-calc(10);
  color: $lighten-color;
  font-family: $font-family-roboto;
}

.content-filter {
  margin-bottom: rem-calc(20);
  background: $panel-bg;
  border-bottom: 1px solid $panel-border-color;
  .top-bar {
    background: $panel-bg;
    border-bottom: 1px solid $panel-border-color;
    margin-bottom: -1px;
    .top-bar-section {
      .has-dropdown {
        > a:after {
          border-color: rgba($body-font-color, .4) transparent transparent transparent;
        }
        &:hover > a:after {
          top: rem-calc(17);
          border-color: transparent transparent rgba($body-font-color, .4) transparent;
        }
      }
      ul {
        li {
          > a {
            font-family: $font-family-roboto;
          }
          &:not(.has-form) {
            background: transparent;
            a:not(.button) {
              background: transparent;
              color: $body-font-color;
              &:hover {
                color: $primary-color;
              }
            }
          }
        }
      }
      .dropdown {
        background: $panel-bg;
        border-radius: 0 0 $thumb-radius $thumb-radius;
        &:before {
          position: absolute;
          top: rem-calc(-6);
          right: 0;
          display: block;
          content: "";
          width: rem-calc(10);
          height: rem-calc(10);
          background: $panel-bg;
          border: 1px solid $panel-border-color;
          border-right: 0;
          border-bottom: 0;
          transform: rotate(45deg);
        }
        &.cols {
          width: auto;
          min-width: rem-calc(150 * 4);
          ul {
            margin: rem-calc(10) 0;
            float: left;
            width: 25%;
            border: 0;
            border-right: 1px solid $panel-border-color;
            &:first-child {
              padding-left: rem-calc(10);
            }
            &:last-child {
              padding-right: rem-calc(10);
              border-right: 0;
            }
            li {
              float: none;
              width: auto;
              &:not(.has-form) {
                &.active {
                  > a:not(.button) {
                    color: $primary-color;
                  }
                }
                &:not(.active) {
                  > a:not(.button) {
                    background: $panel-bg;
                    &:hover {
                      background: $panel-bg;
                    }
                  }
                }
                a {
                  padding: 0 rem-calc(10);
                  line-height: $base-line-height * 1.5;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
              }
            }
          }
        }
        &.genres {
          &:before {
            right: rem-calc(45);
          }
        }
        &.years {
          min-width: rem-calc(150);
          &:before {
            right: rem-calc(45);
          }
          ul {
            width: 100%;
          }
        }
        &.countries {
          &:before {
            right: rem-calc(45);
          }
        }
        &.sort {
          min-width: rem-calc(150);
          &:before {
            right: rem-calc(60);
          }
          ul {
            width: 100%;
          }
        }
      }
    }
  }

  .top-bar-section > .tabs {
    .tab-title,
    .tab-title.active {
      display: inline;
      margin: 0 rem-calc(20) 0 0;
      padding: 0;
      > a {
        display: inline;
        margin: 0;
        padding: 0;
        font-size: $base-font-size * .85;
        text-decoration: none;
        border-bottom: 1px dotted $body-font-color;
        &:hover {
          color: $body-font-color;
          border-bottom: 0;
        }
      }
      &.active > a {
        color: $primary-color;
        border-bottom: 0;
      }
    }
  }
}

.movies-list {
  .movie {
    a.thumb {
      line-height: $base-line-height * .65;
      .labels {
        float: right;
        margin-top: rem-calc(-17);
        &.left {
          margin-left: 2px;
        }
        .label {
          float: right;
          margin: -2px 2px 0 0;
          padding: rem-calc(3) rem-calc(6);
        }
        .year {
          background: rgba(white, .8);
          color: $body-font-color;
          text-shadow: 0 0 3px white;
        }
        .kp {
          background: rgba($kinopoisk-color, .8);
          color: $body-font-color;
          text-shadow: 0 0 3px $kinopoisk-color;
        }
        .imdb {
          background: rgba(black, .8);
          color: $kinopoisk-color;
          text-shadow: 0 0 3px $imdb-color;
        }
      }
      strong {
        display: block;
        margin: rem-calc(10) 0 rem-calc(5);
        font-size: $base-font-size * .8;
      }
    }
    .meta {
      display: block;
      margin: 0 0 rem-calc(10) 0;
      font-size: $base-font-size * .8;
      .title-origin {
        display: block;
        padding: 0 0 rem-calc(10) 0;
        color: lighten($body-font-color, 50%);
        font-size: $base-font-size * .9;
        line-height: $base-line-height * .9;
      }
    }
  }
}

.movie-page {
  .tabs-content > .content {
    padding-top: 0;
  }
  .movie-share {
    margin-top: rem-calc(10);
    .lbl {
      color: $lighten-color;
      font-size: $base-font-size * .8;
    }
  }
  .movie-info {
    .tagline {
      font-family: $font-family-roboto;
      color: $lighten-color;
    }
    .ratings {
      float: right;
      margin: rem-calc(3.5) 0 rem-calc(10) 0;
      font-size: $base-font-size * .75;
      font-family: $font-family-roboto;
      color: $lighten-color;
      .label {
        margin-right: rem-calc(10);
        font-size: $base-font-size * 1;
        &.kp {
          background: $kinopoisk-color;
          color: $imdb-color;
        }
        &.imdb {
          background: $imdb-color;
          color: $kinopoisk-color;
        }
      }
    }
    .attr {
      font-size: $base-font-size * .8;
      > div:first-child {
        > span {
          color: $lighten-color;
        }
      }
      > div:last-child {
        a {
          color: $body-font-color;
          text-decoration: none;
          border-bottom: 1px solid $lighten-color;
          &:hover {
            text-decoration: none;
            border-bottom: 0;
            color: $primary-color;
          }
        }
      }
    }
    .description {
      margin: rem-calc(20) 0 rem-calc(10) 0;
    }
  }
}

footer {
  font-size: $base-font-size * .8;
  color: $lighten-color;
  padding-top: rem-calc(10);
  padding-bottom: rem-calc(30);
  border-top: 1px solid $panel-border-color;
  background: $panel-bg;
  .social {
    a {
      &.vk-provider {
        color: $vk-color;
      }
    }
  }
}
