{% extends "@Backend/base.html.twig" %}

{% block body %}
    <div class="backend-list">
        <div class="list-head">
            <p class="count">
                {% transchoice pagination.totalItemCount %}
                    {0} Records are not found.|]1,Inf[Records found: %count%.
                {% endtranschoice %}
            </p>
            {{ knp_pagination_render(pagination) }}
        </div>
        <div class="list-body">
            <div class="row">
                :)
            </div>
        </div>
    </div>
{% endblock %}
