{% extends '@App/base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <div class="row">
            <div class="small-12 columns">
                <label for="username">Username:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" />
            </div>
        </div>

        {# <input type="hidden" name="_target_path" value="{{ app.request.get('') }}" /> #}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="row">
            <div class="small-6 columns">
                <button type="submit">login</button>
            </div>
            <div class="small-6 columns social">
                Войти с помощью:
                <a class="vk" href="{{ url('connect_vkontakte') }}"><i class="fa fa-vk"></i></a>
            </div>
        </div>
    </form>
{% endblock %}