{% extends "@App/base.html.twig" %}

{% block title %}Backend dashboard{% endblock %}

{% block body %}
    <div class="total">
        {% trans with {'%count%': pagination.getTotalItemCount} %}Found records: %count%{% endtrans %}
    </div>
    <table>
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for country in pagination %}
                <tr>
                    <td>{{ country.id }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
