{% extends "FrontendBundle::base.html.twig" %}

{% block header_stylesheets %}
    {{ parent() }}
    {% stylesheets
        'assets/bower/video.js/dist/video-js.css'
        'assets/bower/videojs-resolution-switcher/lib/videojs-resolution-switcher.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block header_javascripts %}
    {{ parent() }}
    {% javascripts
        'assets/bower/video.js/dist/ie8/videojs-ie8.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block breadcrumbs %}
    <div class="row">
        <div class="small-12 columns">
            <ul class="breadcrumbs">
                <li><a href="{{ url('homepage') }}">{{ 'Homepage'|trans }}</a></li>
                <li><a href="{{ url('movies') }}">{{ 'Movies'|trans }}</a></li>
                {% spaceless %}
                    <li>
                        {% for genre in movie.genres %}
                            <a href="{{ url('movies', {'genre': genre.id}) }}">{{ genre.translations.ru.title|capitalize }}</a>
                            {% if loop.last is same as(false) %} &mdash; {% endif %}
                        {% endfor %}
                    </li>
                {% endspaceless %}
                <li class="current"><a href="{{ url('movie', {'slug': movie.translations.ru.slug}) }}">{{ movie.translations.ru.title }}</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block h1 %}
    <div class="row">
        <div class="small-12 columns">
            <h1>{{ movie.translations.ru.title }}</h1>
            {% if movie.titleOrigin %}
                <div class="h1-meta">
                    {{ movie.titleOrigin }}, {{ movie.year }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block filter %}
    <div class="content-filter">
        <div class="row">
            <div class="small-12 column">
                <nav class="top-bar" data-topbar role="navigation">
                    <section class="top-bar-section">
                        <ul class="tabs" data-tab>
                            <li class="tab-title active"><a href="#movie_description">{{ 'Description'|trans }}</a></li>
                            <li class="tab-title"><a href="#movie_watch">{{ 'View online'|trans }}</a></li>
                            <li class="tab-title"><a href="#movie_comments">{{ 'Comments'|trans }}</a></li>
                            <li class="tab-title"><a href="#movie_persons">{{ 'Persons'|trans }}</a></li>
                        </ul>
                    </section>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row movie-page">
        <div class="small-3 columns">
            <div class="movie-poster">
                <image src="{{ (movie.poster ? movie.poster.path ~ '/' ~ movie.poster.basename : 'placeholder.jpg')|imagine_filter('movie_poster_thumb_large') }}">
            </div>
            <div class="movie-share">
                <span class="lbl">{{ 'Share'|trans }}:</span>
                <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,gplus,twitter"></div>
            </div>
        </div>
        <div class="small-9 columns">
            <div class="tabs-content">
                <div id="movie_description" class="content active">
                    <div class="row">
                        <div class="small-12 columns">
                            {% include 'FrontendMovieViewBundle:Default/include:description.html.twig' with {'movie': movie} %}
                        </div>
                    </div>
                </div>
                <div id="movie_watch" class="content">
                    <div class="row">
                        <div class="small-12 columns">
                            <div class="movie-player">
                                <video id="player" class="video-js vjs-default-skin vjs-big-play-centered" data-setup='{"fluid": true}'>
                                    <p class="vjs-no-js">
                                        To view this video please enable JavaScript, and consider upgrading to a web browser that
                                        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                                    </p>
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="movie_comments" class="content">
                    <div class="row">
                        <div class="small-12 columns">
                            Comments.
                        </div>
                    </div>
                </div>
                <div id="movie_persons" class="content">
                    <div class="row">
                        <div class="small-12 columns">
                            Cast.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}
    {% javascripts
    'assets/bower/video.js/dist/video.js'
    'assets/bower/videojs-resolution-switcher/lib/videojs-resolution-switcher.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        videojs(
                'player',
                {
                    controls: true,
                    plugins: {
                        videoJsResolutionSwitcher: {
                            ui: true,
                            default: '240p',
                            dynamicLabel: true
                        }
                    }
                },
                function() {
                    var player = this;
                    window.player = player

                    {% if movie.translations.ru.slug == 'zachinshchiki' %}
                      player.updateSrc([
                          {
                              src: 'http://139029.selcdn.ru/kinofit.ru_videos_tests/masterminds.hd1080.mp4',
                              type: 'video/mp4',
                              label: '1080p',
                              res: 1080
                          },
                          {
                              src: 'http://139029.selcdn.ru/kinofit.ru_videos_tests/masterminds.hd720.mp4',
                              type: 'video/mp4',
                              label: '720p',
                              res: 720
                          },
                          {
                              src: 'http://139029.selcdn.ru/kinofit.ru_videos_tests/masterminds.hd480.mp4',
                              type: 'video/mp4',
                              label: '480p',
                              res: 480
                          },
                          {
                              src: 'http://139029.selcdn.ru/kinofit.ru_videos_tests/masterminds.360p.mp4',
                              type: 'video/mp4',
                              label: '360p',
                              res: 360
                          },
                          {
                              src: 'http://139029.selcdn.ru/kinofit.ru_videos_tests/masterminds.240p.mp4',
                              type: 'video/mp4',
                              label: '240p',
                              res: 240
                          }
                      ])
                    {% else %}
                      player.updateSrc([
                          {
                              src: 'http://139029.selcdn.ru/kinofit.ru_videos_tests/720.mp4',
                              type: 'video/mp4',
                              label: '720p',
                              res: 720
                          },
                          {
                              src: 'http://139029.selcdn.ru/kinofit.ru_videos_tests/480.mp4',
                              type: 'video/mp4',
                              label: '480p',
                              res: 480
                          },
                          {
                              src: 'http://139029.selcdn.ru/kinofit.ru_videos_tests/360.mp4',
                              type: 'video/mp4',
                              label: '360p',
                              res: 360
                          },
                          {
                              src: 'http://139029.selcdn.ru/kinofit.ru_videos_tests/240.mp4',
                              type: 'video/mp4',
                              label: '240p',
                              res: 240
                          }
                      ])
                    {% endif %}

                    player.on('resolutionchange', function(){
                        console.info('Source changed to %s', player.src())
                    })
                }
        );
    </script>
{% endblock %}
